<div class="row">
    <div class="col-sm-9 col-xs-12">
        <div class="row">
            <div class="col-sm-12">
                {{#with station}}
                    {{#with controllingFaction}}
                        <h2>{{name}} | {{../system}}</h2>
                    <div id="controlling-faction">
                        <h3>Status: </h3>
                        <div class="influence-bar influence-bar-control"
                             v-bind:style="{ width: inPower.influence +'%' }"><span
                                class="influence-bar-value">Influence: \{{ inPower.influence }}%</span></div>
                    {{/with}}
                </div>
                {{/with}}

                <p class="lead">{{status}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>News</h3>
                <div id="news">
                    <ul class="list-unstyled">
                        <li><h4>{{#with station}}{{#with controllingFaction}}{{name}} Appoint a new Overseer
                            for{{/with}} {{name}}{{/with}}</h4>
                            <p>Welcome to your new job, Overseer! Your task is to maintain control of this
                                space-station,
                                and grow our economic interests. </p>
                        </li>
                        <li v-for="news in items"><h4>\{{ news.title }}</h4>
                            <p>\{{ news.body }}</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-xs-12">
        <h3>System Factions</h3>
        <div id="factions">
            <ul class="list-unstyled">
                <li v-for="faction in factions">\{{ faction.name }} | <span>\{{ faction.influence }}%</span> <br>
                    <div class="influence-bar" v-bind:style="{ width: faction.influence +'%' }">

                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>
</div>
<script>
    var station = new Vue({
        el: '#station',
        {{#with station}}
            data: {{{jsonString}}}
        {{/with}}
    });

    var news = new Vue({
        el: '#news',
        data: {"items": []}
    });

    var factions = new Vue({
        el: '#factions',
        {{#with station}}
            data: {{{factionString}}}
        {{/with}}
    });

    var controllingFaction = new Vue({
        el: "#controlling-faction",
        {{#with station}}
            {{#with controllingFaction}}
                data: {"inPower": {{{json}}} }
            {{/with}}

        {{/with}}
    });
</script>
<script src="/js/jquery.min.js"></script>
<script src="/js/utility.js"></script>
<script src="/js/events.js"></script>

<script src="/js/game-loop.js"></script>