<div class="row">
    <div class="col-md-4">
        {{#with station}}
            <h2>{{name}} | {{system}}</h2>
            {{#with controllingFaction}}
                <p class="lead">
                    {{name}}
                </p>
            {{/with}}
        {{/with}}
        <p class="lead">{{status}}</p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p class="lead"></p>
    </div>
    <div class="col-md-4">
        <h2>Recent News</h2>
        <p class="lead">{{stationName}} Chronicles</p>
        <ul class="list-unstyled">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <hr>
        <h2>System Factions</h2>
        {{#with station}}
            {{#each factionList}}
                <h3>{{name}}</h3>
            {{/each}}
        {{/with}}

    </div>
</div>