<div class="row">
    <div class="col-sm-9 col-xs-12">
        <div class="row">
            <div class="col-sm-12">
                {{#with station}}
                    {{#with controllingFaction}}
                        <h2>{{name}}<br><span class="station-name">{{../name}}</span></h2>
                    <div id="controlling-faction">
                        <h3 class="heading-info">Status: </h3>
                        <div id="influence-bar-control" class="influence-bar influence-bar-control"
                             style="width: {{influence}}%"><span id="influence-value-control"
                                                                 class="influence-bar-value">Influence: {{influence }}
                            %</span></div>
                    {{/with}}

                {{/with}}
            </div>
                <p class="lead">{{status}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h3>Basic Resources</h3>
                <div class="row">
                    <div class="col-sm-3">
                        <button id="resource-hydrogen" onclick="addResource('hydrogen')" class="btn-block btn-click">
                            Collect
                            Hydrogen
                        </button>
                        <button id="resource-food" onclick="addResource('food')" class="btn-block btn-click">Grow Food
                        </button>
                        <button id="resource-metal" onclick="addResource('metal')" class="btn-block btn-click">Mine
                            Metal
                        </button>
                    </div>
                    <div class="col-md-3">
                        <ul class="list-unstyled list-padded">
                            <li class="resource-output">Hydrogen: <span class="resource-amount">0</span></li>
                            <li class="resource-output">Food: <span class="resource-amount">0</span></li>
                            <li class="resource-output">metal: <span class="resource-amount">0</span></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="list-unstyled list-padded">
                            <li class="resource-storage">Max Storage: <span id="hydrogen-storage-total"
                                                                            class="resource-amount">2000</span></li>
                            <li class="resource-storage">Max Storage: <span id="food-storage-total"
                                                                            class="resource-amount">2000</span></li>
                            <li class="resource-storage">Max Storage: <span id="metal-storage-total"
                                                                            class="resource-amount">2000</span></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <section id="gather-rates">
                            <ul class="list-unstyled list-padded">
                                <li><span class="resource-gather-rate">0</span>/s</li>
                                <li><span class="resource-gather-rate">0</span>/s</li>
                                <li><span class="resource-gather-rate">0</span>/s</li>
                            </ul>
                        </section>
                    </div>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Population</h3>

                <div class="row">
                    <div class="col-sm-3">
                        <ul class="list-unstyled ">
                            <li class="resource-output">Workers: <span id="worker-count"
                                                                       class="resource-amount">0</span></li>
                            <li class="resource-output">Max Population: <span id="max-population"
                                                                              class="resource-amount">0</span></li>
                            <li class="resource-output">Food Cost(/s): <span id="food-cost"
                                                                             class="resource-amount">0</span>
                            </li>
                            <li class="resource-output">Unemployed: <span id="unemployed-count"
                                                                          class="resource-amount">0</span></li>
                        </ul>
                        <button id="hire-worker" onclick="population.hireWorker()" class="btn-block btn-click">
                            Hire Worker [20 Food]
                        </button>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-unstyled list-padded">
                            <li>Hydrogen Miners:</li>
                            <li>Farmers:</li>
                            <li>Asteroid Miners:</li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <div class="btn-row">
                            <div class="fullwidth-block pull-right">
                                <button onclick="unassignWorker('hydrogen')"
                                        class="btn-click btn-assign">&#129152;</button>
                                <span class="worker-count" id="worker-count-hydrogen">0</span>
                                <button onclick="assignWorker('hydrogen')"
                                        class="btn-click btn-assign">&#129154;</button>
                            </div>

                        </div>
                        <div class="btn-row">
                            <div class="fullwidth-block pull-right">
                                <button onclick="unassignWorker('food')" class="btn-click btn-assign">&#129152;</button>
                                <span class="worker-count" id="worker-count-food">0</span>
                                <button onclick="assignWorker('food')" class="btn-click btn-assign">&#129154;</button>
                            </div>
                        </div>
                        <div class="btn-row">
                            <div class="fullwidth-block pull-right">
                                <button onclick="unassignWorker('metal')"
                                        class="btn-click btn-assign">&#129152;</button>
                                <span class="worker-count" id="worker-count-metal">0</span>
                                <button onclick="assignWorker('metal')"
                                        class="btn-click btn-assign btn-right">&#129154;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h3>Buildings</h3>
                <h4>Housing</h4>
                <button class="btn-block btn-click" onclick="buildings.housing.apartment.purchase()">
                    Apartment<br>[<span id="apartment-cost">50</span> Metal](+2 Population)
                </button>

                <h4>Storage</h4>
                <button class="btn-block btn-click" onclick="buildings.storage.hydrogen.purchase()">
                    Hydrogen Tank <br>[<span id="hydrogen-storage-cost">100</span> Metal]<br>(+500 Hydrogen
                    Storage)
                </button>
                <button class="btn-block btn-click" onclick="buildings.storage.food.purchase()">
                    Food Storage<br>[<span id="food-storage-cost">100</span> Metal]<br>(+500 Food Storage)
                </button>
                <button class="btn-block btn-click" onclick="buildings.storage.metal.purchase()">
                    Metal Storage <br>[<span id="metal-storage-cost">100</span> Metal]<br>(+500 Metal Storage)
                </button>

            </div>
            <div class="col-sm-9">
                <h3>Fleet</h3>
                <h4>Ships</h4>
                <div class="row">
                    <div class="col-md-3">
                        <section id="fleet-mining">
                            <button onclick="fleet.methods.purchase(1)" class="btn-block btn-click">
                                Small Ship<br> [<span class="ship-metal-cost">500</span> Metal]<br>
                            </button>
                            <button onclick="fleet.methods.purchase(2)" class="btn-block btn-click">
                                Medium Ship<br> [<span class="ship-metal-cost">1500</span> Metal]<br>
                            </button>
                            <button onclick="fleet.methods.purchase(3)" class="btn-block btn-click">
                                Large Ship<br> [<span class="ship-metal-cost">5000</span> Metal]<br>
                            </button>
                        </section>
                    </div>

                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-md-3">
                                <h4><strong>Fleet Allocation</strong></h4>
                                <ul class="list-unstyled list-padded">
                                    <li>Trading</li>
                                    <li>Exploration</li>
                                    <li>Mining</li>
                                    <li>Unallocated:</li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-xs-4">
                                <div class="btn-row">
                                    <p class="text-center"><strong>Small</strong></p>
                                    <div class="fullwidth-block pull-right">
                                        <button onclick="fleet.methods.unassignShip('small','trading')"
                                                class="btn-click btn-assign">&#129152;</button>
                                        <span class="worker-count ship-trading" id="ship-trading-small">0</span>
                                        <button onclick="fleet.methods.assignShip('small','trading')"
                                                class="btn-click btn-assign">&#129154;</button>
                                    </div>
                                    <div class="fullwidth-block pull-right">
                                        <button onclick="fleet.methods.unassignShip('small','exploring')"
                                                class="btn-click btn-assign">&#129152;</button>
                                        <span class="worker-count ship-exploring" id="ship-exploring-small">0</span>
                                        <button onclick="fleet.methods.assignShip('small','exploring')"
                                                class="btn-click btn-assign">&#129154;</button>
                                    </div>
                                    <div class="fullwidth-block pull-right">
                                        <button onclick="fleet.methods.unassignShip('small','mining')"
                                                class="btn-click btn-assign">&#129152;</button>
                                        <span class="worker-count ship-mining" id="ship-mining-small">0</span>
                                        <button onclick="fleet.methods.assignShip('small','mining')"
                                                class="btn-click btn-assign">&#129154;</button>
                                    </div>
                                    <p class="clearfix text-center ship-unallocated" id="">0</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-4">
                                <div class="btn-row">
                                    <p class="text-center"><strong>Medium</strong></p>
                                    <div class="fullwidth-block pull-right">
                                        <button onclick="fleet.methods.unassignShip('medium','trading')"
                                                class="btn-click btn-assign">&#129152;</button>
                                        <span class="worker-count ship-trading" id="ship-trading-medium">0</span>
                                        <button onclick="fleet.methods.assignShip('medium','trading')"
                                                class="btn-click btn-assign">&#129154;</button>
                                    </div>
                                    <div class="fullwidth-block pull-right">
                                        <button onclick="fleet.methods.unassignShip('medium','exploring')"
                                                class="btn-click btn-assign">&#129152;</button>
                                        <span class="worker-count ship-exploring" id="ship-exploring-medium">0</span>
                                        <button onclick="fleet.methods.assignShip('medium','exploring')"
                                                class="btn-click btn-assign">&#129154;</button>
                                    </div>
                                    <div class="fullwidth-block pull-right">
                                        <button onclick="fleet.methods.unassignShip('medium','mining')"
                                                class="btn-click btn-assign">&#129152;</button>
                                        <span class="worker-count ship-mining" id="ship-mining-medium">0</span>
                                        <button onclick="fleet.methods.assignShip('medium','mining')"
                                                class="btn-click btn-assign">&#129154;</button>
                                    </div>
                                    <p class="clearfix text-center ship-unallocated" id="">0</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-4">
                                <div class="btn-row">
                                    <p class="text-center"><strong>Large</strong></p>
                                    <div class="fullwidth-block pull-right">
                                        <button onclick="fleet.methods.unassignShip('large','trading')"
                                                class="btn-click btn-assign">&#129152;</button>
                                        <span class="worker-count ship-trading" id="ship-trading-large">0</span>
                                        <button onclick="fleet.methods.assignShip('large','trading')"
                                                class="btn-click btn-assign">&#129154;</button>
                                    </div>
                                    <div class="fullwidth-block pull-right">
                                        <button onclick="fleet.methods.unassignShip('large','exploring')"
                                                class="btn-click btn-assign">&#129152;</button>
                                        <span class="worker-count ship-exploring" id="ship-exploring-large">0</span>
                                        <button onclick="fleet.methods.assignShip('large','exploring')"
                                                class="btn-click btn-assign">&#129154;</button>
                                    </div>
                                    <div class="fullwidth-block pull-right">
                                        <button onclick="fleet.methods.unassignShip('large','mining')"
                                                class="btn-click btn-assign">&#129152;</button>
                                        <span class="worker-count ship-mining" id="ship-mining-large">0</span>
                                        <button onclick="fleet.methods.assignShip('large','mining')"
                                                class="btn-click btn-assign">&#129154;</button>
                                    </div>
                                    <p class="clearfix text-center ship-unallocated" id="">0</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <aside class="col-sm-3 col-xs-12 station-status">
        <section id="station">
            <h3>System Status</h3>
            <ul class="list-unstyled">
                {{#with station}}
                    <li><strong>System: </strong>{{system}}</li>
                    <li><strong>Known Pirates:</strong> 3</li>
                {{/with}}
            </ul>
        </section>
        <section id="factions">
            <h3>Rival Factions</h3>
            <ul class="list-unstyled">
                {{#with station.factionList}}
                    {{#each this}}
                        <li id="influence-block-{{@index}}" class="influence-block">{{ name }} | <span
                                class="influence-value">{{influence }}%</span> <br>
                            <div class="influence-bar" style="width: {{influence}}%">
                            </div>
                        </li>
                    {{/each}}
                {{/with}}

            </ul>
        </section>
        <section id="news">
            <h3>System News</h3>
            <ul class="list-unstyled list-news" id="news-list">
                <li><h4 class="news-heading">{{#with station}}{{#with controllingFaction}}{{name}}
                    Appoint a new Overseer
                    for{{/with}} {{name}}{{/with}}</h4>
                    <p>Welcome to your new job, Overseer! Your task is to maintain control of this
                        space-station,
                        and grow our economic interests. </p>
                </li>
            </ul>
        </section>
    </aside>
</div>
<script>
    var station = {
        {{#with station}}
            name: "{{name}}",
            system: "{{system}}",
            controllingFaction: {
                name: "{{controllingFaction.name}}",
                influence: {{controllingFaction.influence}}
            },
        factions: [
            {
                name: "{{controllingFaction.name}}",
                influence: {{controllingFaction.influence}},
                inPower: true
            },
            {{#with factionList}}
                {{#each this}}
                    {
                        name: "{{name}}",
                        influence: {{influence}},
                        inPower: false
                    },
                {{/each}}
            ]
            {{/with}}

        {{/with}}
    };

    var news = [];


</script>
<script src="/js/jquery.min.js"></script>
<script src="/js/utility.js"></script>
<script src="/js/events.js"></script>
<script src="/js/clickEvents.js"></script>

<script src="/js/game-loop.js"></script>